/*
Create all needed style classes for GUI Objects 
Css Tutorial: https://www.w3schools.com/Css/default.asp
Color wheel: https://www.canva.com/colors/color-wheel/?msockid=065c61157ede61032f3b72927fa26043
Icons: https://www.flaticon.com/free-icons
*/

.fullscreen {
   -fx-background-size: 1700px 1000px;
   -fx-background-color: #1A1A1A;
}

.searchbar {
   -fx-padding: 10px;
   -fx-background-color: #0d0d0d;
   -fx-background-radius: 35px;
   -fx-border-color: #2eff35;
   -fx-border-width: 1px;
   -fx-border-radius: 35px;
   -fx-text-fill: #bdbdbd;
}

.searchlabel {
   -fx-text-fill: #8b8b8b;
   -fx-font-size: 30px;
}

.filterby {
   -fx-text-fill: #ffffff;
   -fx-font-size: 20px;
}

.mybutton {
   -fx-background-color: transparent;
   -fx-border-width: 1px;
   -fx-border-radius: 50px;
   -fx-border-color: #b5b5b5;
   -fx-text-fill: #ffffff;
   -fx-font-size: 35px;
}

.mybutton:hover {
   -fx-background-color: transparent;
   -fx-border-width: 1px;
   -fx-border-radius: 50px;
   -fx-border-color: #26c5ff;
   -fx-text-fill: #26c5ff;
   -fx-font-size: 35px;
}

.backbutton {
   -fx-background-color: #3498db;
   -fx-shape: "M 8,10 L 14,14 V 12 H 22 V 8 H 14 L 14,6 L 8,10"; /* SVG path data */
}